html{
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: black;
  background: url('/img/bg.png') no-repeat center center fixed;
  /* background: linear-gradient(black, #0e0608) no-repeat center center fixed; */
  background-size: cover;
  height:100%;
  margin: -50px;
}


@font-face {
  font-family: 'Helmet';
  src: url(Helmet-Regular.woff);
}


.nav{
  text-align: center;
  position: sticky;
  width:100%;
  height: auto;
  top:0px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url('/img/nav-bg.png');
  /* background-image: linear-gradient(black, #0e0608); */
  list-style: none;
  z-index: 100;
  box-shadow: 0px 0px 100px rgba(149, 184, 166, 0.2);

}

.nav ul{
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  list-style: none;
}

.nav ul li{
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.nav ul li h1.menu{
  display: block;
  position: relative;
  transition: all .25s ease-in-out;

}

.nav ul li h1.menu:hover{
  transform: scale(1.1);
  animation-name: menuhoverframes;
  animation-duration: .5s;
  animation-iteration-count:infinite;
}


.nav ul li h1.disabled{
  color: #808080;
  display: block;
  position: relative;
  transition: all .2s ease-in-out;

}

.nav ul li h1.disabled:hover{
  color: #101010;
  transform: scale(0.98);
}

a{
  text-decoration: none;
}



.ph-box{
  width: 75%;
  margin: auto;
  padding-top: 25px;
  text-align: center;
}

.pf-box{
  width: 75%;
  margin: auto;
  padding-top: 0;
  padding: 0;
  text-align: left;
  justify-content: center;
  align-content: center;
  display: flex;
}

.pf-box2{
  width: 75%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: left;
  justify-content: center;
  align-content: center;
  display: flex;
}

.pf-content{
  flex: 50%;
  padding-top: 50px;
}

.pf-content img{
  width:90%;
  height: auto;

}

img.responsive{
  width: 100%;
  max-width: 800px;
  height:  auto;
}

footer{
  text-align: right;
  position: fixed;
  width:100%;
  bottom:0px;
  margin: 0;
  text-shadow: 1px, 1px, 5px, black;
}

footer p{
  text-shadow: 1px 1px 5px black;
}

h1 {
  font-size: 48px;
  color: white;
  font-family: 'Helmet', sans-serif;
}

h1.portfolio {
  font-size: 40px;
  color: white;
  font-family: 'Helmet', sans-serif;
}

h2.about {
  font-size: 45px;
  color: white;
  font-family: 'Helmet', sans-serif;
  text-align: right;
}

p.about {
  color: white;
  font-size: 24px;
  text-align: right;
}

p.misc {
  color: white;
  font-size: 24px;
  text-align: center;
}



@keyframes menuhoverframes{
  from {text-shadow: 2px 2px 5px white; }
  25% {text-shadow: -2px -2px 5px white; }
  50% {text-shadow: -2px 2px 5px white; }
  75% {text-shadow: 2px -2px 5px white; }
  to {text-shadow: 2px 2px 5px white; }
}

@keyframes iconhoverframes{
  from {filter: drop-shadow(0px 0px 5px #333); }
  50% {filter: drop-shadow(0px 0px 15px #fff); }
  to {filter: drop-shadow(0px 0px 5px #333);  }
}

h2 {
  font-size: 36px;
  color: white;
  font-family: 'Helmet', sans-serif;
}

h3 {
  color: white;
  font-family: 'Helmet', sans-serif;
}


p {
  color: white;
  font-size: 16px;
  transform: scale(1, .75);
}

p.portfolio {
  color: white;
  font-size: 20px;
}

figure{
  width: 300px;
  height: 300px;
  margin: 0;
  padding-bottom:40px;
  transition: all .1s ease-in-out;
}

figure img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

}

figure:hover{
  transform: scale(1.025);
}

figcaption{
  font-size: 24px;
  color: white;
  font-family: 'Helmet', sans-serif;
  text-align: right;
}

.gallery_container{
  width: 50%;
  margin: auto;
  padding-bottom: 250px;
  padding-top: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
}

.main_container{
  width: 75%;
  margin: auto;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
}

.main_container figure{
  transition: all .25s ease-in-out;
}

.main_container figure:hover{
    transform: scale(1.2);
}

.main_container figure:hover img{
  animation-name: iconhoverframes;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

.main_container figure:hover figcaption{
  animation-name: menuhoverframes;
  animation-duration: .5s;
  animation-iteration-count:infinite;
}

.main_container figcaption{
  font-size: 48px;
  color: white;
  font-family: 'Helmet', sans-serif;
  filter: none;
  font-weight: bold;
  text-align: center;
}
